.media
  .media-left
    = link_to (image_tag comment.user.avatar, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;", class: 'media-object') , "/users/#{ comment.user.id }"
  .media-body
    %h4#top-aligned-media.media-heading
      #{ comment.user.user_name }
      %a.anchorjs-link{ href: "#top-aligned-media" }
        %span.anchorjs-icon
    %p #{ comment.text }
