= form_for [@prototype, @comment], url: prototypes_comments_path, html: { class: "form-inline" }, remote: true do |f|
  %h4 Write a comment
  .row
    .form-group.col-md-10
      = f.text_area :text, placeholder: "Your comments", rows: "3", class: "form-control", id: "comment_field"
      = f.hidden_field :prototype_id, value: @prototype.id
    .form-group.col-md-2
      = f.submit Comment, class: "btn btn-primary"
